Export-DataGridView-to-Excel/Export-DataGridView-to-Excel/Data/Employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="Employees" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="Employees">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="LastName" index-key="LastName " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PostalCode" index-key="PostalCode " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="EmployeeID " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:tableProperty name="FilterOn" type="1" value="0"/>
<od:tableProperty name="Description" type="10" value="Employees&apos; names, titles, and personal information."/>
<od:tableProperty name="OrderOn" type="1" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="0"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAAlbBPbXpYJQ41qg1BgwZHqAAAAALF2d/aYROVAAAAAAAAAAABFAG0A
cABsAG8AeQBlAGUAcwAAAAAAAABP/DPgTS6pSaHyNVeL59btBwAAACVsE9telglD
jWqDUGDBkepFAG0AcABsAG8AeQBlAGUASQBEAAAAAAAAAMa2qQsFSTNGmFJp0Pjz
3VIHAAAAJWwT216WCUONaoNQYMGR6kwAYQBzAHQATgBhAG0AZQAAAAAAAABvtyY/
13nlQpa+8LkVR1ghBwAAACVsE9telglDjWqDUGDBkepGAGkAcgBzAHQATgBhAG0A
ZQAAAAAAAAAhPqQ0IbfkQ5j4wVd5zwsHBwAAACVsE9telglDjWqDUGDBkepUAGkA
dABsAGUAAAAAAAAAFO4T0tNtIkWaqXT9Xn86wgcAAAAlbBPbXpYJQ41qg1BgwZHq
VABpAHQAbABlAE8AZgBDAG8AdQByAHQAZQBzAHkAAAAAAAAABZdpvdA6k0SC1+HE
hfY32AcAAAAlbBPbXpYJQ41qg1BgwZHqQgBpAHIAdABoAEQAYQB0AGUAAAAAAAAA
TKFSpfnGlUa/8M5/digY2gcAAAAlbBPbXpYJQ41qg1BgwZHqSABpAHIAZQBEAGEA
dABlAAAAAAAAAH73uq+H52hGgY+L3XTruhoHAAAAJWwT216WCUONaoNQYMGR6kEA
ZABkAHIAZQBzAHMAAAAAAAAAOKXRcYe9e0+HnZHaZyN/UwcAAAAlbBPbXpYJQ41q
g1BgwZHqQwBpAHQAeQAAAAAAAAAPULJ3tlQBQ4Hx2XLI4KDEBwAAACVsE9telglD
jWqDUGDBkepSAGUAZwBpAG8AbgAAAAAAAADi+b/CS8FvR7QK5YfZn5gHBwAAACVs
E9telglDjWqDUGDBkepQAG8AcwB0AGEAbABDAG8AZABlAAAAAAAAAM+1HIwiuvRJ
sOVpDf+F49wHAAAAJWwT216WCUONaoNQYMGR6kMAbwB1AG4AdAByAHkAAAAAAAAA
eZ4Ze4T/mkGbssn7yFYx8gcAAAAlbBPbXpYJQ41qg1BgwZHqSABvAG0AZQBQAGgA
bwBuAGUAAAAAAAAADPMUc2AKJ0qU/Yol036UQgcAAAAlbBPbXpYJQ41qg1BgwZHq
RQB4AHQAZQBuAHMAaQBvAG4AAAAAAAAAHPLnui80/0aEdCUGkc/lqQcAAAAlbBPb
XpYJQ41qg1BgwZHqUABoAG8AdABvAAAAAAAAAO9RPSATPR1Kv2PeqSZnAaUHAAAA
JWwT216WCUONaoNQYMGR6k4AbwB0AGUAcwAAAAAAAAD5udhhA9NyS4W6qDp+SlTm
BwAAACVsE9telglDjWqDUGDBkepSAGUAcABvAHIAdABzAFQAbwAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAADAAAAAUAAAAAAAAAAAAAAAAAAAAAAA==
"/>
<od:tableProperty name="GUID" type="9" value="JWwT216WCUONaoNQYMGR6g==
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="BackTint" type="6" value="100"/>
<od:tableProperty name="BackShade" type="6" value="100"/>
<od:tableProperty name="ThemeFontIndex" type="4" value="-1"/>
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="-1"/>
<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
<od:tableProperty name="AlternateBackShade" type="6" value="100"/>
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="-1"/>
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="-1"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EmployeeID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="Number automatically assigned to new employee."/>
<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1350"/>
<od:fieldProperty name="Caption" type="12" value="Employee ID"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="T/wz4E0uqUmh8jVXi+fW7Q==
"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FirstName" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="2"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1500"/>
<od:fieldProperty name="Caption" type="12" value="First Name"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="b7cmP9d55UKWvvC5FUdYIQ==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="LastName" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="3"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1440"/>
<od:fieldProperty name="Caption" type="12" value="Last Name"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="xrapCwVJM0aYUmnQ+PPdUg==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>

<xsd:element name="Title" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="Employee&apos;s title."/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="4"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2265"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="IT6kNCG35EOY+MFXec8LBw==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="BirthDate" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Format" type="10" value="dd-mmm-yyyy"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="5"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1275"/>
<od:fieldProperty name="Caption" type="12" value="Birth Date"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="ValidationRule" type="12" value="&lt;Date()"/>
<od:fieldProperty name="ValidationText" type="10" value="Birth date can&apos;t be in the future."/>
<od:fieldProperty name="GUID" type="9" value="BZdpvdA6k0SC1+HEhfY32A==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowDatePicker" type="3" value="1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Address" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="Street or post-office box."/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="6"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2220"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="fve6r4fnaEaBj4vddOu6Gg==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="City" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="7"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1215"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="OKXRcYe9e0+HnZHaZyN/Uw==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Region" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="State or province."/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="8"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="945"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="D1Cyd7ZUAUOB8dlyyOCgxA==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PostalCode" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="9"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1290"/>
<od:fieldProperty name="Caption" type="12" value="Postal Code"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="4vm/wkvBb0e0CuWH2Z+YBw==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Country" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="10"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="885"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="z7UcjCK69Emw5WkN/4Xj3A==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="HomePhone" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="Phone number includes country code or area code."/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="11"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1440"/>
<od:fieldProperty name="Caption" type="12" value="Home Phone"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="eZ4Ze4T/mkGbssn7yFYx8g==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="24"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
